.profile {
  padding: 30px 25px;
  width: 450px;

  margin: 40px auto;
  background: #e37444;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #502c2c;
  text-align: center;
}


.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25% / 40%;
}

.name {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #34495e;
  letter-spacing: 0.03em;
}



